## Preprocessing

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN', 'NAME'], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff_value = 500
replaced_application = list(application_df['APPLICATION_TYPE'].value_counts()[application_df['APPLICATION_TYPE'].value_counts() < cutoff_value].index)

# Replace in dataframe
for app in replaced_application:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [9]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [10]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df['CLASSIFICATION'].value_counts()[application_df['CLASSIFICATION'].value_counts() > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [12]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff_value = 1
classifications_to_replace = application_df['CLASSIFICATION'].value_counts()[application_df['CLASSIFICATION'].value_counts() <= cutoff_value].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
Other       26
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1238       10
C1278       10
C1237        9
C1235        9
C7210        7
C1720        6
C2400        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C1267        2
C1256        2
C1234        2
C1246        2
C3200        2
Name: CLASSIFICATION, dtype: int64

In [13]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df_dummies = pd.get_dummies(application_df)

application_df_dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [14]:
# Split our preprocessed data into our features and target arrays
y = application_df_dummies['IS_SUCCESSFUL'].values
X = application_df_dummies.drop(['IS_SUCCESSFUL'], axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [16]:
y

array([1, 1, 0, ..., 0, 1, 0], dtype=int64)

In [17]:
X

array([[       1,     5000,        0, ...,        0,        1,        0],
       [       1,   108590,        0, ...,        0,        1,        0],
       [       1,     5000,        0, ...,        0,        1,        0],
       ...,
       [       1,     5000,        0, ...,        0,        1,        0],
       [       1,     5000,        0, ...,        0,        1,        0],
       [       1, 36500179,        0, ...,        0,        1,        0]],
      dtype=int64)

In [18]:
X_train, X_test, y_train, y_test

(array([[   1, 5000,    0, ...,    0,    1,    0],
        [   1, 5000,    0, ...,    0,    1,    0],
        [   1, 5000,    0, ...,    0,    1,    0],
        ...,
        [   1, 5000,    0, ...,    0,    1,    0],
        [   1, 5000,    0, ...,    0,    1,    0],
        [   1, 5000,    0, ...,    0,    1,    0]], dtype=int64),
 array([[    1, 50087,     0, ...,     0,     1,     0],
        [    1,  5000,     0, ...,     0,     1,     0],
        [    1,  5000,     0, ...,     0,     1,     0],
        ...,
        [    1,  5000,     0, ...,     0,     1,     0],
        [    1,  5000,     0, ...,     0,     1,     0],
        [    1,  5000,     0, ...,     0,     1,     0]], dtype=int64),
 array([1, 1, 0, ..., 0, 1, 0], dtype=int64),
 array([1, 1, 0, ..., 1, 0, 1], dtype=int64))

In [19]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [21]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

number_input_features = X_train.shape[1]
hidden_nodes_layer1 = 80
hidden_nodes_layer2 = 30
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, activation='relu', input_dim=number_input_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 80)                6720

 dense_4 (Dense)             (None, 30)                2430

 dense_5 (Dense)             (None, 1)                 31

=================================================================
Total params: 9181 (35.86 KB)
Trainable params: 9181 (35.86 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [23]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

nn

In [24]:
# Train the model
fit_model = nn.fit(X_train, y_train, epochs=100, batch_size=256, verbose=1)

Epoch 1/100
108/108 [==============================] - 1s 2ms/step - loss: 26746.4531 - accuracy: 0.5023
Epoch 2/100
108/108 [==============================] - 0s 2ms/step - loss: 11541.8887 - accuracy: 0.4947
Epoch 3/100
108/108 [==============================] - 0s 2ms/step - loss: 40303.0938 - accuracy: 0.4886
Epoch 4/100
108/108 [==============================] - 0s 2ms/step - loss: 27922.5391 - accuracy: 0.4850
Epoch 5/100
108/108 [==============================] - 0s 2ms/step - loss: 28890.6348 - accuracy: 0.4845
Epoch 6/100
108/108 [==============================] - 0s 2ms/step - loss: 6953.3521 - accuracy: 0.4853
Epoch 7/100
108/108 [==============================] - 0s 2ms/step - loss: 30745.6289 - accuracy: 0.4915
Epoch 8/100
108/108 [==============================] - 0s 2ms/step - loss: 7162.6382 - accuracy: 0.4928
Epoch 9/100
108/108 [==============================] - 0s 2ms/step - loss: 31857.0312 - accuracy: 0.5085
Epoch 10/100
108/108 [==============================] - 0s 2ms/step - loss: 15528.2637 - accuracy: 0.4910
Epoch 11/100
108/108 [==============================] - 0s 2ms/step - loss: 9141.4385 - accuracy: 0.4976
Epoch 12/100
108/108 [==============================] - 0s 2ms/step - loss: 11200.7695 - accuracy: 0.4967
Epoch 13/100
108/108 [==============================] - 0s 2ms/step - loss: 17045.6133 - accuracy: 0.5088
Epoch 14/100
108/108 [==============================] - 0s 2ms/step - loss: 8598.1533 - accuracy: 0.5160
Epoch 15/100
108/108 [==============================] - 0s 2ms/step - loss: 11295.4961 - accuracy: 0.4967
Epoch 16/100
108/108 [==============================] - 0s 2ms/step - loss: 15054.9033 - accuracy: 0.5216
Epoch 17/100
108/108 [==============================] - 0s 2ms/step - loss: 14682.9121 - accuracy: 0.5117
Epoch 18/100
108/108 [==============================] - 0s 2ms/step - loss: 7971.7324 - accuracy: 0.5155
Epoch 19/100
108/108 [==============================] - 0s 2ms/step - loss: 8982.3525 - accuracy: 0.5174
Epoch 20/100
108/108 [==============================] - 0s 2ms/step - loss: 5523.5527 - accuracy: 0.5140
Epoch 21/100
108/108 [==============================] - 0s 2ms/step - loss: 18810.3223 - accuracy: 0.4968
Epoch 22/100
108/108 [==============================] - 0s 2ms/step - loss: 3479.0215 - accuracy: 0.5085
Epoch 23/100
108/108 [==============================] - 0s 2ms/step - loss: 15547.3955 - accuracy: 0.4946
Epoch 24/100
108/108 [==============================] - 0s 2ms/step - loss: 5384.6919 - accuracy: 0.5033
Epoch 25/100
108/108 [==============================] - 0s 2ms/step - loss: 6594.8853 - accuracy: 0.5171
Epoch 26/100
108/108 [==============================] - 0s 2ms/step - loss: 2010.2523 - accuracy: 0.5413
Epoch 27/100
108/108 [==============================] - 0s 2ms/step - loss: 7585.9155 - accuracy: 0.5353
Epoch 28/100
108/108 [==============================] - 0s 2ms/step - loss: 9681.0605 - accuracy: 0.5290
Epoch 29/100
108/108 [==============================] - 0s 2ms/step - loss: 2613.4705 - accuracy: 0.5589
Epoch 30/100
108/108 [==============================] - 0s 2ms/step - loss: 6326.6416 - accuracy: 0.5216
Epoch 31/100
108/108 [==============================] - 0s 2ms/step - loss: 12991.9375 - accuracy: 0.4961
Epoch 32/100
108/108 [==============================] - 0s 2ms/step - loss: 5468.3853 - accuracy: 0.5060
Epoch 33/100
108/108 [==============================] - 0s 2ms/step - loss: 6591.6968 - accuracy: 0.5130
Epoch 34/100
108/108 [==============================] - 0s 2ms/step - loss: 8953.8555 - accuracy: 0.4947
Epoch 35/100
108/108 [==============================] - 0s 2ms/step - loss: 10324.0566 - accuracy: 0.4899
Epoch 36/100
108/108 [==============================] - 0s 2ms/step - loss: 5238.6050 - accuracy: 0.4951
Epoch 37/100
108/108 [==============================] - 0s 2ms/step - loss: 2894.5964 - accuracy: 0.5264
Epoch 38/100
108/108 [==============================] - 0s 2ms/step - loss: 1345.2286 - accuracy: 0.5057
Epoch 39/100
108/108 [==============================] - 0s 2ms/step - loss: 3088.5581 - accuracy: 0.5553
Epoch 40/100
108/108 [==============================] - 0s 2ms/step - loss: 3344.4021 - accuracy: 0.5169
Epoch 41/100
108/108 [==============================] - 0s 2ms/step - loss: 1700.8104 - accuracy: 0.5261
Epoch 42/100
108/108 [==============================] - 0s 2ms/step - loss: 2940.6814 - accuracy: 0.5116
Epoch 43/100
108/108 [==============================] - 0s 2ms/step - loss: 675.9592 - accuracy: 0.5623
Epoch 44/100
108/108 [==============================] - 0s 2ms/step - loss: 1275.3674 - accuracy: 0.5090
Epoch 45/100
108/108 [==============================] - 0s 2ms/step - loss: 2963.3389 - accuracy: 0.5122
Epoch 46/100
108/108 [==============================] - 0s 2ms/step - loss: 0.7354 - accuracy: 0.5320
Epoch 47/100
108/108 [==============================] - 0s 2ms/step - loss: 0.7302 - accuracy: 0.5320
Epoch 48/100
108/108 [==============================] - 0s 2ms/step - loss: 0.7253 - accuracy: 0.5320
Epoch 49/100
108/108 [==============================] - 0s 2ms/step - loss: 0.7209 - accuracy: 0.5320
Epoch 50/100
108/108 [==============================] - 0s 2ms/step - loss: 0.7168 - accuracy: 0.5320
Epoch 51/100
108/108 [==============================] - 0s 2ms/step - loss: 0.7131 - accuracy: 0.5320
Epoch 52/100
108/108 [==============================] - 0s 2ms/step - loss: 0.7098 - accuracy: 0.5320
Epoch 53/100
108/108 [==============================] - 0s 2ms/step - loss: 0.7068 - accuracy: 0.5320
Epoch 54/100
108/108 [==============================] - 0s 2ms/step - loss: 0.7042 - accuracy: 0.5320
Epoch 55/100
108/108 [==============================] - 0s 2ms/step - loss: 0.7019 - accuracy: 0.5320
Epoch 56/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6999 - accuracy: 0.5320
Epoch 57/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6982 - accuracy: 0.5320
Epoch 58/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6968 - accuracy: 0.5320
Epoch 59/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6956 - accuracy: 0.5320
Epoch 60/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6946 - accuracy: 0.5320
Epoch 61/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6938 - accuracy: 0.5320
Epoch 62/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6931 - accuracy: 0.5320
Epoch 63/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6926 - accuracy: 0.5320
Epoch 64/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6922 - accuracy: 0.5320
Epoch 65/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6919 - accuracy: 0.5320
Epoch 66/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6917 - accuracy: 0.5320
Epoch 67/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6915 - accuracy: 0.5320
Epoch 68/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6914 - accuracy: 0.5320
Epoch 69/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6913 - accuracy: 0.5320
Epoch 70/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 71/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 72/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 73/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 74/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 75/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 76/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 77/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 78/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 79/100

108/108 [==============================] - 0s 2ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 80/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 81/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 82/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 83/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 84/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 85/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 86/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 87/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 88/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 89/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 90/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 91/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 92/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 93/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 94/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 95/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 96/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 97/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 98/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 99/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6911 - accuracy: 0.5320
Epoch 100/100
108/108 [==============================] - 0s 2ms/step - loss: 0.6911 - accuracy: 0.5320

In [25]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - loss: 0.7401 - accuracy: 0.6397 - 380ms/epoch - 2ms/step
Loss: 0.7400800585746765, Accuracy: 0.6396501660346985

In [26]:
# Export our model to HDF5 file
nn.save("my_model.h5")

C:\Users\arond\anaconda3\envs\dev\lib\site-packages\keras\src\engine\training.py:3079: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(